.ipynb_checkpoints/
__pycache__/
.DS_Store
*.pyc
*.pyo
.venv
.venv/
.env
.pytest_cache/
.mypy_cache/
.cache/
cache/
.numba_cache/
docs/_build/
cash/
ctg_cache/
cotengra_cache/
store/
nohup.out

*.egg-info/
.eggs/
build/
dist/
.coverage
coverage.xml
htmlcov/
*.log
vmc_run*.jsonl
vmc_run*.log
